<div id="navibox">
        <div id="navibox1">
            <ul id="naviul">
                <li class="selected"><a href="http://dm.tsdm.tv/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/xinfandongman/"><span></span></a></li>
                <li><a href="http://mh.tsdm.net/" target="_blank"></a></li>
                <li><a href="http://www.tsdm.me/forum.php?mod=viewthread&amp;tid=831631" target="_blank"></a></li>
                <li><a href="http://www.tsdm.net/forum.php?mod=viewthread&amp;tid=777954" target="_blank"><span style="color:#E53333;"></span></a></li>
                <li><a href="http://www.tsdm.me/forumdisplay.php?fid=8" target="_blank"></a></li>
                <li><a href="http://www.tsdm.me/forum.php?mod=forumdisplay&amp;fid=247" target="_blank"></a></li>
                <li><a href="http://www.tsdm.net/forum.php?mod=forumdisplay&amp;fid=13" target="_blank"></a></li>
                <li><a href="http://dm.tsdm.tv/guoyu/"><span></span></a></li>
                <li><a href="http://www.loli.cd/" target="_blank"></a></li>
                <li><a href="http://www.loli.cd/" target="_blank"></a></li>
                <li><a href="http://dm.tsdm.tv/list/?71.html"></a></li>
                <li><a href="http://www.tsdm.me/forum.php?mod=viewthread&amp;tid=846867" target="_blank"><font color="#FF0000"></font></a></li>
                <li><a href="http://dm.tsdm.tv/gbook.asp"></a></li>
                <li><a href="http://dm.tsdm.tv/BD/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/LOLIdongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/hougongdongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/xiaoyuandongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/lianaidongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/rexuedongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/shenmodongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/qihuandongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/zhiyudongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/gaoxiaodongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/baihedongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/maoxiandongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/mofadongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/jizhandongman/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/QT/"><span></span></a></li>
                <li><a href="http://dm.tsdm.tv/guochandongman/"><span></span></a></li>
            </ul>
        </div>
    </div>
</div>