<div id="navigationnew" style="display:none">
    <%= render :partial => 'index_navibox'%>
    <div class="empty_70"></div>
<div style="border:1px #BFE6F4 solid;width:960px;height:90px;margin:0 auto;">
    <p align="center">
        <a href="http://dm.tsdm.tv/xinfandongman/" target="_blank">
            <img src="" width="960" height="90">
        </a>
    </p>
</div>
<div id="empty37"></div>
<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>
<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>
<script type="text/javascript">
    var today = new Date();
    var day = today.getDay()+1;
    var tday = day+1;
    var yday = day-1;
    document.getElementById("anime_w"+day).style.display="block";
    document.getElementById("anime_w"+day).style.backgroundColor='#E5F1FF';
    document.getElementById("anime_w"+tday).style.display="block";
    document.getElementById("anime_w"+tday).style.backgroundColor='#CEEDCA';
    document.getElementById("anime_w"+yday).style.display="block";
    document.getElementById("anime_w"+yday).style.backgroundColor='#3AADE3';
</script>
<div class="page_content">
    <div class="a960" style="padding:5px 0;">
        <center>
            <div style="border-radius:4px;width:100%;height:100%;overflow:hidden;">
                <a rel="noreferrer" href="http://ab.huaduu.com/gogo/80" target="_blank"><img src="" style="width:100%"></a>
            </div>
        </center>
    </div>
</div>

<div class="page_content">
    <div class="a960" style="padding:5px 0;">
        <center>
            <a class="topban_1" id="topban" href="http://www.tsdm.me/forum.php?mod=viewthread&amp;tid=859571" target="_blank">
                <img id="topbanimg" src="" alt="" width="960" height="90">
            </a>
        </center>
    </div>
</div>

<div class="page_content">
    <div class="a960" style="padding:5px 0;">
    </div>
    <script type="text/javascript">
        var picplaycount = 1;
        setInterval("topswitch()",3000);
    </script>
</div>
<script type="text/javascript">
    var today = new Date();
    var day = today.getDay()+1;
    var tday = day+1;
    var yday = day-1;
    document.getElementById("anime_w"+day).style.display="block";
    document.getElementById("anime_w"+day).style.backgroundColor='#E5F1FF';
    document.getElementById("anime_w"+tday).style.display="block";
    document.getElementById("anime_w"+tday).style.backgroundColor='#CEEDCA';
    document.getElementById("anime_w"+yday).style.display="block";
    document.getElementById("anime_w"+yday).style.backgroundColor='#3AADE3';
</script>
<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>

<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>

<div class="cl blank10"></div>
<div class="cl blank10"></div>
<div class="blank10"></div>

<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>

<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>

<div class="blank10"></div>
<div class="blank10"></div>

<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>

<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>

<div class="blank10"></div>

<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>

<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>

<div class="blank10"></div>

<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>

<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>

<div class="cl"></div>

<div class="blank10"></div>

<div class="c_head1"><div class="c_head2"><div class="c_head3"></div></div></div>
<!--cate order start-->

<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>

<div class="blank10"></div>
<div class="c_head1"><div class="c_head2"><div class="c_foot3"></div></div></div>
<div class="flink">
    <h3 class="titbar"><span>&nbsp;</span><em></em></h3>
    <ul class="fix">
        <li><a href="http://www.tsdm.me/" target="_blank"></a></li>
        <li><a href="http://dm.tsdm.tv/tsdmtsdm@126.com" target="_blank"></a></li>
        <li><a href="http://dm.tsdm.net/" target="_blank"></a></li>
        <li><a href="http://dm.tsdm.net/list/?35.html" target="_blank"></a></li>
        <li><a href="http://mh.tsdm.net/" target="_blank"></a></li>
        <li><a href="http://www.loli.cd/" target="_blank"></a></li>
        <li><a href="http://dm.tsdm.tv/ysm.yesmiao.me" target="_blank"></a></li>
        
    </ul>
</div>
<div class="c_foot1"><div class="c_foot2"><div class="c_foot3"></div></div></div>
<div class="blank10"></div>
<div class="footer">
    <div><a target="_blank" href="mailto:lolicd@126.com"></a></div>
    <a href="http://www.tsdm.me/"></a>
    <a href="http://dm.tsdm.tv/allmovie.html" target="_blank"></a>
</div>

<script type="text/javascript">
<!--
function killErrors() {
return true;
}
window.onerror = killErrors;
// -->
</script>
<img alt="" src="" style="border:none"></a>

<noscript>&lt;a href="http://www.51.la/?5962403" target="_blank"&gt;&lt;img alt="&amp;#x6211;&amp;#x8981;&amp;#x5566;&amp;#x514D;&amp;#x8D39;&amp;#x7EDF;&amp;#x8BA1;" src="http://img.users.51.la/5962403.asp" style="border:none" /&gt;&lt;/a&gt;</noscript>

<!-- script for tips.-->
<style>
    #ts_block_tip {width:850px;height:700px;background:rgba(240,240,240,0.9);position:fixed;top:50px;left: 300px;}
    #ts_block_tip a{color:red;font-size:36px;line-height:36px;margin:0 auto}
</style>
<div id="ts_block_tip" style="display:none">
 
<br>
<br>
<br>
<br>
<br>
<br>
<font size="5"><br>
<br>
<a href="http://dm.tsdm.tv/" target="_blank">
<font color="Blue">.NET</font>&nbsp;&nbsp;<br>
<font color="Red"></font> DM.TSDM
<font color="Red">.TV</font><br>
<font color="Red">.tv</font></a></font><br>
<br>
<a href="http://weibo.com/acgtsdm" target="_blank"></a>&nbsp;&nbsp;<a href="http://ww2.sinaimg.cn/large/7044f931gw1ex4bpwtdkzj206y07074n.jpg" target="_blank"></a>&nbsp;&nbsp;<a href="https://tieba.baidu.com/f?ie=utf-8&amp;kw=%E5%A4%A9%E4%BD%BF%E5%8A%A8%E6%BC%AB" target="_blank"></a>&nbsp;&nbsp;<a href="http://www.tsdm.me/forum.php?mod=viewthread&amp;tid=537303" target="_blank"></a>&nbsp;&nbsp;<br>
<br>
<a href="http://dm.tsdm.tv/"><img file="http://wx3.sinaimg.cn/large/7044f931gy1ffkqe4q4h4j20go0b4n13.jpg" border="0" alt="" src="" lazyloaded="true"></a>
</div>

<script>
if(document.referrer.indexOf('tsdm.net') >= 0){
    document.getElementById('ts_block_tip').style.display='block';
}
if(window.location.href.indexOf('from=tsdmnet') >= 0){
    document.getElementById('ts_block_tip').style.display='block';
}
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>