#shell{width:960px;margin:0px auto;}
   .title_week{width:39px;float:left;}
   .title_week a{FONT-SIZE: 12px;}
   .contect_week{padding-left:44px;}
 #shell a:link{COLOR: #000000; TEXT-DECORATION: none}
 #shell a:hover {COLOR: #000000; TEXT-DECORATION: underline}
 #shell a{FONT-SIZE: 13px;}

#anime_w0{padding:5px;display:none;}
#anime_w1{padding:5px;display:none;}
#anime_w2{padding:5px;display:none;}
#anime_w3{padding:5px;display:none;}
#anime_w4{padding:5px;display:none;}
#anime_w5{padding:5px;display:none;}
#anime_w6{padding:5px;display:none;}
#anime_w7{padding:5px;display:none;}
#anime_w8{padding:5px;display:none;}